<div>
	<!-- card-panel -->
	<div class="card hoverable" [class.sno-padding]="routePath === 'home'">
		<div class="card-image card__image">
			<a class="card__image-link" routerLink="/{{ mediaType }}/{{mediaItem.id}}">
				<img *ngIf="mediaItem.poster_path !== null" src="{{ mediaItemPosterUrl }}{{ mediaItem.poster_path }}"
					class="responsive-img card__image-poster" />
				<img *ngIf="mediaItem.poster_path == null" src="assets/img/no-image-available-color.jpg"
					class="responsive-img card__image-poster" />
			</a>
		</div>
		<div class="card-content">
			<!-- *ngIf="routePath === 'home'" -->
			<a routerLink="/{{ mediaType }}/{{mediaItem.id}}" class="media__title">
				<span>{{ mediaItem.title || mediaItem.name }}</span>
			</a>

			<span class="media__add-watchlist" title="Add to watchlist">
				<i class="material-icons">add_circle_outline</i>
			</span> <!-- check_circle -->
			<span class="media__add-favorite" title="Add to favorites">
				<i class="material-icons">bookmark_border</i>
			</span> <!-- bookmark -->
		</div>
	</div>
</div>
