.movie {
	min-height: 600px;
	.movie-poster {
		// width: 200px;
		// height: 300px;
	}

	.card-title {
		color: #ccc !important;
	}

	.movie-title {
		font-size: 1rem;
		color: #e24e5d;
	}

	.movie-overview {
		// height: 100px;

		// white-space: nowrap;
		// overflow-y: hidden;
		// text-overflow: ellipsis;
	}
}
