// .movie {
// 	// height: 600px;

// 	@media only screen and (min-width: 600px) and (max-width: 992px) {
// 		// max-height: 500px;
// 	}

// 	.card {
// 		padding-bottom: 15px;
// 		// &:hover {
// 		// 	.card-reveal {
// 		// 		display: block;
// 		// 		transform: translateY(-100%);
// 		// 	}
// 		// }
// 	}

// 	.card-image {
// 		// &:hover {
// 		// 	& + .card-reveal {
// 		// 		display: block;
// 		// 		transform: translateY(-100%);
// 		// 	}
// 		// }
// 	}

// 	.movie-poster {
// 		// width: 200px;
// 		// height: 300px;
// 		// margin-bottom: 10px;
// 		min-height: 150px;

// 		@media screen {
// 		}

// 		&:hover {
// 			& + .movie-title-link {
// 				color: #eee;
// 				background: #222;
// 			}
// 		}
// 	}

// 	.movie-title-link {
// 		color: #ccc !important;
// 		background: #444;
// 		font-size: 1rem;
// 		width: 100%;
// 		padding: 10px 10px;

// 		&:hover {
// 			color: #eee;
// 			background: #222;
// 		}
// 	}

// 	// .card-content {
// 	// 	a {
// 	// 		width: 100%;
// 	// 	}
// 	// 	.card-title {
// 	// 		color: #ccc !important;
// 	// 		background: #444;
// 	// 		font-size: 1rem;
// 	// 		width: 100%;
// 	// 		padding: 10px 24px;

// 	// 		&:hover {
// 	// 			color: #eee;
// 	// 			background: #222;
// 	// 		}
// 	// 	}
// 	// }

// 	.movie-title {
// 		font-size: 1rem;
// 		color: #e24e5d;
// 	}

// 	.movie-overview {
// 		// height: 100px;

// 		// white-space: nowrap;
// 		// overflow-y: hidden;
// 		// text-overflow: ellipsis;
// 	}

// 	.card-reveal .card-title {
// 		line-height: 0.8;
// 	}
// }


.media {
	&__list {
		&--wrapper {
			margin-top: 5rem;

			&:not(:first-of-type) {
				margin-top: 10rem;
			}
		}

		&--row {
			// border: 1px solid #ddd;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__item {
		// border: 1px solid #ddd;
		// flex: 4;
		display: flex;
		margin: 1.5rem 0;
	}

	&__title {
		color: #777;
	}

	&__add-watchlist,
	&__add-favorite {
		position: absolute;
		cursor: pointer;

		* {
			// text-shadow: 1px 1px 1px #aaa;
			font-size: 1.7rem;
			color: #aaa;
		}
	}
	&__add-favorite {
		bottom: .2rem;
		right: .5rem;
	}

	&__add-watchlist {
		bottom: .2rem;
		right: 2.7rem;
	}

	&__show-more {
		* {
			color: #555;
			vertical-align: middle;
			font-size: inherit;
		}
	}
}

.card {
	margin: 0;
	padding: 1rem .5rem 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: stretch;
	// flex: 3 2 600px;
	// justify-content: stretch;
	// min-height: 400px;
	// padding-bottom: 999999em;
	// margin-bottom: -999999em;

	&-content {
		padding: 1rem 0 4rem;
	}

	&__image {
		&-link {
			display: inline-block;
			height: auto;
			min-width: 100%;
			min-height: 100%;
			object-fit: fill;

		}

		&-poster {
			height: auto;
			min-width: 100%;
			min-height: 100%;
			object-fit: fill;
		}
	}


}

.pagination__arrow {
	color: #777;
	&--double {
		* {
			color: #888;
			padding: 0;
			font-size: 1.5rem;
			vertical-align: middle;
		}
	}
	&--left {
		padding-left: 0;
	}

	&--right {
		padding-right: 0;
	}
}

// .add_favorite_media,
// .add_watchlist_media {
// 	position: absolute;
// 	cursor: pointer;

// 	* {
// 		font-size: 1.7rem;
// 		color: #aaa;
// 	}
// }

// .add_favorite_media {
// 	bottom: .2rem;
// 	right: .5rem;
// }

// .add_watchlist_media {
// 	bottom: .2rem;
// 	right: 2.7rem;
// }

// .show-more-media {
// 	* {
// 		color: #555;
// 		vertical-align: middle;
// 		font-size: inherit;
// 	}
// }
