.movie {
	// height: 600px;

	@media only screen and (min-width: 600px) and (max-width: 992px) {
		max-height: 500px;
	}

	.card {
		padding-bottom: 15px;
		// &:hover {
		// 	.card-reveal {
		// 		display: block;
		// 		transform: translateY(-100%);
		// 	}
		// }
	}

	.card-image {
		// &:hover {
		// 	& + .card-reveal {
		// 		display: block;
		// 		transform: translateY(-100%);
		// 	}
		// }
	}

	.movie-poster {
		// width: 200px;
		// height: 300px;
		// margin-bottom: 10px;
		min-height: 150px;

		@media screen {
		}

		&:hover {
			& + .movie-title-link {
				color: #eee;
				background: #222;
			}
		}
	}

	.movie-title-link {
		color: #ccc !important;
		background: #444;
		font-size: 1rem;
		width: 100%;
		padding: 10px 10px;

		&:hover {
			color: #eee;
			background: #222;
		}
	}

	// .card-content {
	// 	a {
	// 		width: 100%;
	// 	}
	// 	.card-title {
	// 		color: #ccc !important;
	// 		background: #444;
	// 		font-size: 1rem;
	// 		width: 100%;
	// 		padding: 10px 24px;

	// 		&:hover {
	// 			color: #eee;
	// 			background: #222;
	// 		}
	// 	}
	// }

	.movie-title {
		font-size: 1rem;
		color: #e24e5d;
	}

	.movie-overview {
		// height: 100px;

		// white-space: nowrap;
		// overflow-y: hidden;
		// text-overflow: ellipsis;
	}

	.card-reveal .card-title {
		line-height: 0.8;
	}
}
